@model List<CanvasLineChartModel>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>

@section scripts{
    <script>
		const _data = @Html.Raw(JsonConvert.SerializeObject(Model));
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				theme: "light2",
				title: {
					text: "Simple Line Chart"
				},
				data: [{
					type: "line",
					indexLabelFontSize: 16,
					dataPoints: _data
				}]
			});
			chart.render();

		}
    </script>
}
